*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
/* Start Header */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
.container::after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
 .container h1{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(15 116 143 );
}
 .container nav{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* End Header */
/* Start LAnding */
.landing{
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../images/1892582.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 80%);
}
.landing .text{
  position:absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: rgb(15 116 143 / 60%);
  color: white;
  display: flex;
  justify-content: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.landing .text .content{
  max-width: 500px; 
}
.landing .text .content h2{
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p{
 font-size: 14px;
 line-height: 2;
}

/* .isoValue{
  height: 200px;
} */
select{
  width: 100px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 10px;
  margin-left: 5px;
}

/* End Landing */